# Servidor
PORT=3001
NODE_ENV=development
API_PREFIX=api/v1
CORS_ORIGIN=http://localhost:3000

# Base de datos PostgreSQL
DB_HOST=44.203.257.178
DB_PORT=5436
DB_USER=postgres
DB_PASSWORD=
DB_NAME=pro_gerencggg
DB_SCHEMA=data_apff
DB_POOL_MAX=10
DB_POOL_IDLE_TIMEOUT_MS=30000
DB_STATEMENT_TIMEOUT_MS=15000
DB_SSL=false

# Cache (en memoria)
CACHE_TTL_SECONDS=600
