# Compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDE
.idea/
.vscode/
*.swp

# Env
.env
.env.local
.env.*.local

# Misc
*.tgz
.eslintcache
